.password-settings { max-width: 800px; margin: -1px auto 15px; padding: 25px; background-color: #fff; border: 1px solid #eaeaea; border-radius: 5px; }

.password-settings h3 { font-size: 18px; font-weight: normal; }

.btn-password { background-color: #4aa1f3 !important; color: #fff !important; font-weight: 600 !important; }

